.mentor {
  margin-bottom: 2em;
}

.mentor-image {
  max-width: 100%;
}

.mentor-name {
  margin-bottom: 0.2em;
}

.mentor-first-name::before, .mentor-first-name::after {
  display: inline;
  color: #d12f2f;
  font-weight: bold;
}

.mentor-first-name::before {
  content: '<';
}

.mentor-first-name::after {
  content: '> ';
}

.mentor-title {
  color: gray;
}
