@media (min-width: 768px) and (max-width: 991px) {
  iframe {
    height: 35em;
  }
}

@media (max-width: 767px) {
  .nav {
    > li.nav-icon {
      display: inline-flex;
      padding: 0 10px;
    }
  }

  #typeform-full {
    height: 38em;
    display: inline-block;
  }
}
